@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover,
  button:hover {
    opacity: 0.7;
  }
}

