$dark: #262522;
$background: #f0ebe1;
$primary-color-1: #9fdc26;
$primary-color-2: #f29c33;
$primary-color-3: #ee6352;
$primary-color-4: #c4e5fc;
$light: #fffbf2;
$font-family: 'Roboto', sans-serif;
$second-family: 'Montserrat', sans-serif;
$third-family: 'Homemade Apple', sans-serif;
